:root{
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    --mainColor: #11192A;
    --border: 1px solid rgba(255, 255, 255, 0.11);
}


*{
    margin: 0;
    font-family: 'Montserrat';
    color: white;
}

body{
    background-color: #111827;
}

.header-links{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header-section{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    box-shadow: var(--shadow);
}

.card{
    width: 200px;
    height: 250px;
}

.cards{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-section{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.main-info{
    width: 300px;
    height: 220px;
    background-color: var(--mainColor);
    border: var(--border);
    border-radius: 52px;
    padding: 32px;
    padding-top: 50px;
    box-shadow: var(--shadow);
}

.main-img{
    width: 250px;
    height: 250px;
}

h3{
    font-size: 15px;
    font-weight: 300;
}

.main-title{
    font-size: 32px;
    margin-bottom: 10px;
}

.name{
    color: #3a96ff;
    font-weight: 800;
}

p{
    font-size: 17px;
}

.links-container{
    width: 150px;
    height: 40px;
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.link{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover{
    cursor: pointer;
}

.hero-link-img{
    width: 27px;
}

.aboutme-section{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-container{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--mainColor);
    border-radius: 52px;
    box-shadow: var(--shadow);
    padding: 32px;
    gap: 20px;
}

.Aboutme-title{
    font-size: 32px;
}

.about-text{
    text-align: center;
}

.skills-section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 110px;
    background-color: var(--mainColor);
    border-radius: 52px;
    box-shadow: var(--shadow);
    padding: 32px;
    gap: 20px;
}

.skills{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: 14px;
    font-weight: 300;
}

.main-skills-container{
    background-color: #1f2937;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact-section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact-card-container{
    display: flex;
    gap: 10px;
}

.contact-card{
    width: 100px;
    height: 100px;
    background-color: var(--mainColor);
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-card-title{
    font-size: 13px;
    font-weight: 300;
}

.username{
    font-size: 9px;
    color: rgb(193, 193, 193);
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-section{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.rights-title{
    font-size: 13px;
    color: rgb(193, 193, 193);
}

.footer-links{
    display: flex;
    gap: 10px;
}

.footer-link{
    color: rgb(193, 193, 193);
    font-size: 13px;
    text-decoration: none;
}

@media (min-width: 768px){
    .header{
        height: 120px;
        gap: 5vw;
    }
    .header-links{
        font-size: 30px;
    }

    .hero-section{
        flex-direction: row;
        gap: 40px;
    }

    .main-info{
        width: 360px;
        padding: 40px;
    }

    .main-title{
        font-size: 36px;
    }

    .Aboutme-title{
        font-size: 36px;
    }
    
    .aboutme-container{
        width: 360px;
        padding: 40px;
    }

    .aboutme-container{
        width: 360px;
        padding: 40px;
    }
}

@media (min-width: 1024px){
    
    .hero-section{
        gap: 70px;
    }

    .aboutme-container{
        width: 50vw;
        max-width: 800px;
    }

    .skills-container{
        width: 50vw;
        max-width: 800px;
    }

    .skills{
        gap: 15px;
    }

    .contact-card{
        width: 150px;
        height: 150px;
    }

    .skills-title, .contact-title{
        font-size: 36px;
    }

    .contact-logo{
        width: 40px;
        height: 40px;
    }

    .contact-card-title{
        font-size: 16px;
    }

    .username{
        font-size: 12px;
    }
}

